<div class="story">

<h1>ストーリー説明</h1>

<br><br><br><br>

<div class="first">
  <%= image_tag 'cloudsky.jpg', size: "500x300"  %>
  <div class="cloud-text">
    <p>人間を食らう巨人から逃れ</p>
    <p>三重に囲まれた壁の中で</p>
    <p>人類は100年にわたる平和を謳歌していた。</p>
    <p>しかし、ウォール・マリアの南端</p>
    <p>シガンシナ区に現れた</p>
    <p>「超大型巨人」と「鎧の巨人」によりその平和は終焉を迎える。</p>
    <p>肉親を巨人に食べられ親しい者たちとも離れ離れになるエレン・ミカサ・アルミンの3人。</p>
    <p>巨人に蹂躙された故郷を前に幼いエレンは誓う。</p>
  </div>
</div>

<br><br><br><br><br>

<div class="second">
  <p>駆逐してやる！！</p>
  <p>この世から…</p>
  <p>1匹残らず！！</p>
</div>

<br><br><br><br><br>

<div  class="third">
  <div class="sea-text">
    <p>104期訓練兵としてエレンはミカサ、アルミン、その他の仲間とともに</p>
    <p>日々訓練に励んだ。</p>
    <p>入団式の前日</p>
    <p>トロスト区の壁上に立つエレンの背後に突如現れた「超大型巨人」。</p>
    <p>再び巨人に壁を破壊され、</p>
    <p>エレンたちは訓練兵として戦いに参加した。</p>
    <p>多くの仲間が死にゆく中、</p>
    <p>エレンに巨人化の力があることが発覚。</p>
    <p>人類の敵であった巨人と、自分。</p>
    <p>エレンは葛藤し、当然のごとく周囲からも疑いの目を向けられる。</p>
    <p>このとき、シガンシナ区襲撃時から</p>
    <p>5年の歳月がたっていた。</p>
  </div>
  <%= image_tag 'sea.jpg', size: "500x300"  %>
</div>

<br><br>

<div class="fourth">
  <p>なぜ巨人は人々を殺戮するのか。</p>
  <p>そもそも、巨人とは何なのか。</p>

  <p>本当の敵は何なのか。</p>

  <p>その先に待っているのは希望か、絶望か。</p>

  <p>エレンが父から譲り受けた鍵を使って家の地下室に行けば</p>
  <p>謎はすべて解けるという。</p>
  <p>エレンは巨人を駆逐するという決意を胸に</p>
  <p>この世界の謎を解いていき、「自由」を目指す物語。</p>
</div>

</div>

<div class="comment">
  <h3>一覧ページ</h3>
    <p>ここでは誰でも自由に書き込みができます。</p>
    <p>進撃の巨人の好きなシーン、キャラクター、あるあるネタなど共有しよう。</p>
    <p>注意！ネタバレを避けたい人は作品を見てから。</p>
    <%= link_to "新規投稿へ", new_noza_path %>
</div>


<div class="humans-container">
  <% @humans.each do |t| %>
    <div class="human">
      <div class="human-left">
        <%= t.name %>
        <%= image_tag t.image_url, size: "250x200" if t.image? %>
      </div>
      <div class="human-main">
        <%= t.content %>
        <%= t.created_at %>
      </div>
    </div>
    <div class="human-rihgt">
        <%= link_to "編集する", edit_noza_path(t.id) %>
        <%= button_to "削除する", noza_path(t.id), method: :delete %> 
        <%= link_to "詳細へ", noza_path(t.id) %>
    </div>
  <% end %>
</div>