<h1>ストーリー紹介</h1>
<h3>コメント詳細</h3>
<div class="human">
<%= @noza.name %>
<%= @noza.image %>
<%= @noza.content %>
<%= @noza.created_at %>
<%= button_to "削除する", noza_path(@noza.id), method: :delete %> 
  <%= link_to "編集する", edit_noza_path(@noza.id) %></div>
  <div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <%= form_with(model: [@noza, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
 
</div>

<%= link_to "一覧に戻る", nozas_path %>