<div class="detail">
    <h1>コメント詳細</h1><br>
    <p>投稿に更にコメントがつけられます。</p>
  <div class="detail-1">
    <div class="detail-1-1">
      
        <%= @humen.content %>
        <%= button_to "削除する", noza_path(@humen.id), method: :delete%> 
      
    </div>
  <br><br>
    <h1>コメント一覧</h1><br><br>
    <div class="comment-wrapper">
      <% @comments.each do |c| %>
        <br>
      <%= c.content %>
        <br>
      <% end %>
    </div>
  </div>

  <div class="detail-2">
    <h1>新規コメント</h1><br><br>
    <%= form_with(model: [@humen, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
      <% end %>
      <br><br>
    <%= link_to "一覧に戻る", nozas_path %>
  </div>
</div>