<div class=kyojin>
    <h1>巨人紹介</h1>
    <br><br>

    <div class="one">
        <p>進撃の巨人には「知性」を持つ巨人が存在する。</p>
        <p>アニメ第一話でエレンの住む町の壁を破壊した「超大型巨人」と「鎧の巨人」も</p>
        <p>「知性」を持つ巨人である。</p>
        <br>
        <p>このページでは、「知性」を持つ9つの巨人について紹介する。</p>
        <p>「巨人診断」もぜひどうぞ。</p>
        <p><br>
        <%= link_to "巨人診断をする", dogs_path, class: "wow" %></p>
    </div>

        <br><br><br><br><br>
    <hr class="hr-dots">
        <br><br><br><br><br>

    <div class="two">
            <%= image_tag 'tyouoogata.jpg', size: "150x150" , class: "tyouoogata"%>
        <div class="two-text">
            <h3>「超大型巨人」</h3>
            <p>三重の壁よりも高い60mの体高を誇る巨人。</p>
            <p>素早い動きはできないが、巨体を駆使した破壊力のある攻撃に加え、</p>
            <p>筋肉を燃やして熱風を吹き出し、広範囲の破壊と</p>
            <p>周囲の敵を寄せ付けないこともできる。</p>
        </div>
    </div>

        <br><br><br><br><br>
    <hr class="hr-dots">
        <br><br><br><br><br>

    <div class="three">
            <%= image_tag 'yoroi.jpg', size: "150x150" , class:"yoroi" %>
        <div class="three-text">
            <h3>「鎧の巨人」</h3>
            <p>鎧のごとき硬い皮膚で全身を覆った巨人。</p>
            <p>兵器を跳ね返すほど硬質で砲弾などではダメージを受けない。</p>
            <p>高い耐久力を持ち、「盾」としての役割も担う。</p>
        </div>
    </div>

        <br><br><br><br><br>
    <hr class="hr-dots">
        <br><br><br><br><br>

    <div class="four">
            <%= image_tag 'megata.jpg', size: "150x150" ,class:"megata" %>
        <div class="four-text">
            <h3>「女型の巨人」</h3>
            <p>女性の姿をした巨人。</p>
            <p>周囲の巨人をおびき寄せる叫びの力を持つ。</p>
            <p>他の「九つの巨人」の特性を再現する事に長けている。</p>
        </div>
    </div>

        <br><br><br><br><br>
    <hr class="hr-dots">
        <br><br><br><br><br>

    <div class="five">
            <%= image_tag 'kemono.jpg', size: "150x150" ,class:"kemono" %>
        <div class="five-text">
            <h3>「獣の巨人」</h3>
            <p>全身が獣の様な体毛で覆われた巨人。</p>
            <p>さまざまな動物の特徴を巨体で再現することができる。</p>
            <p>巨人の中で会話ができる。</p>
        </div>
    </div>

        <br><br><br><br><br>
    <hr class="hr-dots">
        <br><br><br><br><br>

    <div class="six">
            <%= image_tag 'syariki.jpg', size: "150x150" ,class:"syariki" %>
        <div class="six-text">
            <h3>「車力の巨人」</h3>
            <p>四足歩行型の巨人。</p>
            <p>長期的に任務に対応できる並外れた持続力を持つ。</p>
            <p>作戦に合わせて重機関銃などの兵装を使い分けるのが特徴。</p>
        </div>
    </div>

        <br><br><br><br><br>
    <hr class="hr-dots">
        <br><br><br><br><br>

    <div class="seven">
            <%= image_tag 'agito.jpg', size: "150x150" ,class:"agito" %>
        <div class="seven-text">
            <h3>「顎の巨人」</h3>
            <p>強力な顎と爪を持つ巨人。</p>
            <p>小振りゆえの高い機動力を持ち、</p>
            <p>強靭な顎と爪で硬質化を含めあらゆるものを砕くことができる。</p>
        </div>
    </div>

        <br><br><br><br><br>
    <hr class="hr-dots">
        <br><br><br><br><br>

    <div class="eight">
            <%= image_tag 'senntui.jpg', size: "150x150" ,class:"senntui" %>
        <div class="eight-text">
            <h3>「戦鎚の巨人」</h3>
            <p>硬質化を応用した複雑な武器を用いて戦う巨人。</p>
            <p>戦鎚や剣などに加え、弩などの武器を再現することも可能。</p>
            <p>その力は強力が故に持続性は低い。</p>
        </div>
    </div>

        <br><br><br><br><br>
    <hr class="hr-dots">
        <br><br><br><br><br>

    <div class="nine">
            <%= image_tag 'shiso.jpg', size: "150x150"  ,class:"shiso"%>
        <div class="nine-text">
            <h3>「始祖の巨人」</h3>
            <p>他の全ての巨人を統べる力を持つ巨人。</p>
            <p>すべての始まりとなった。</p>
        </div>
    </div>

        <br><br><br><br><br>
    <hr class="hr-dots">
        <br><br><br><br><br>

    <div class="ten">
            <%= image_tag 'shinngeki.jpg', size: "150x150" ,class:"shingeki" %>
        <div class="ten-text">
            <h3>「進撃の巨人」</h3>
            <p>いついかなる時代においても自由のために戦った巨人。</p>
            <p>歴代継承者の過去の記憶だけでなく、未来の記憶も視ることが可能。</p>
        </div>
    </div>
</div>