<div class="intro">
    <h1>診断結果</h1>
    <br><br>
    <p>画像を保存し、巨人の名前を使って進撃の巨人の好きなシーン、キャラクター、あるあるネタなど共有しよう。</p>
    <br>
    <%= link_to "投稿ページへ", new_noza_path,  class:"yeah" %>
    <div class="tweet-container">
            <div class="tweet">
                <% if @dog.question == "1111" %>
                <h3>始祖の巨人</h3><br>
                <%= image_tag 'shiso.jpg', size: "150x150"  ,class:"shiso"%>
                <br><br>
                <p>リーダーシップを発揮しつつ、持続力が強みなあなたは</p>
                <p>ルールを重んじ、チームメイトにも気配りができます。</p>
                <p>物語のすべての始まりとなった始祖の巨人がぴったり。</p>

                <% elsif @dog.question == "1112" %>
                <h3>始祖の巨人</h3><br>
                <%= image_tag 'shiso.jpg', size: "150x150"  ,class:"shiso"%>
                <br><br>
                <p>リーダーシップを発揮しつつ、持続力が強みなあなたは</p>
                <p>ルールを重んじ、チームメイトにも気配りができます。</p>
                <p>物語のすべての始まりとなった始祖の巨人がぴったり。</p>

                <% elsif @dog.question == "1121" %>
                <h3>進撃の巨人</h3><br>
                <%= image_tag 'shinngeki.jpg', size: "150x150" ,class:"shingeki" %>
                <br><br>
                <p>チームの先頭に立つことも苦ではありませんが、</p>
                <p>自分の信念や価値観にそって行動することも大事にしています。</p>
                <p>常に自由を求め、自を基準にする進撃の巨人がぴったり。</p>

                <% elsif @dog.question == "1122" %>
                <h3>女型の巨人</h3><br>
                <%= image_tag 'megata.jpg', size: "150x150" ,class:"megata" %>
                <br><br>
                <p>視野が広く、役割を与えられたら器用にこなしてしまうあなた。</p>
                <p>コツを掴むのが速く、常に平均以上の結果を出すこともできます。</p>
                <p>真似が上手で汎用性が高い女型の巨人がぴったり。</p>

                <% elsif @dog.question == "1211" %>
                <h3>超大型巨人</h3><br>
                <%= image_tag 'tyouoogata.jpg', size: "150x150" , class: "tyouoogata"%>
                <br><br>
                <p>責任感の強さと、先陣を切って行動していく姿でチームを率いていくあなた。</p>
                <p>あなたの背中に感化された仲間が沢山います。</p>
                <p>圧倒的存在感を放ち、広範囲に影響を与える</p>
                <p>作品のシンボルとなった超大型巨人にぴったり。</p>

                <% elsif @dog.question == "1212" %>
                <h3>超大型巨人</h3><br>
                <%= image_tag 'tyouoogata.jpg', size: "150x150" , class: "tyouoogata"%>
                <br><br>
                <p>責任感の強さと、先陣を切って行動していく姿でチームを率いていくあなた。</p>
                <p>あなたの背中に感化された仲間が沢山います。</p>
                <p>圧倒的存在感を放ち、広範囲に影響を与える</p>
                <p>作品のシンボルとなった超大型巨人にぴったり。</p>

                <% elsif @dog.question == "1221" %>
                <h3>獣の巨人</h3><br>
                <%= image_tag 'kemono.jpg', size: "150x150" ,class:"kemono" %>
                <br><br>
                <p>自分の声でチームを鼓舞し、チームの雰囲気を決めてきたあなた。</p>
                <p>広い視野も持ち合わせているため、</p>
                <p>チームメイト一人ひとりに気遣いができるあなたをみんなが慕っています。</p>
                <p>そんなあなたは統率力に溢れる獣の巨人がぴったり。</p>

                <% elsif @dog.question == "1222" %>
                <h3>獣の巨人</h3><br>
                <%= image_tag 'kemono.jpg', size: "150x150" ,class:"kemono" %>
                <br><br>
                <p>自分の声でチームを鼓舞し、チームの雰囲気を決めてきたあなた。</p>
                <p>広い視野も持ち合わせているため、</p>
                <p>チームメイト一人ひとりに気遣いができるあなたをみんなが慕っています。</p>
                <p>そんなあなたは統率力に溢れる獣の巨人がぴったり。</p>

                <% elsif @dog.question == "2111" %>
                <h3>車力の巨人</h3><br>
                <%= image_tag 'syariki.jpg', size: "150x150" ,class:"syariki" %>
                <br><br>
                <p>縁の下の力持ちとしてチームを支えるあなたは</p>
                <p>自分よりもチームへの利益を第一に考え、時にはナイスアイデアでチームを救うことも。</p>
                <p>サポート役として右に出る者はいない車力の巨人がぴったり。</p>

                <% elsif @dog.question == "2112" %>
                <h3>鎧の巨人</h3><br>
                <%= image_tag 'yoroi.jpg', size: "150x150" , class:"yoroi" %>
                <br><br>
                <p>忍耐力に優れ、チームへの利益を第一に優先できるあなた。</p>
                <p>チームに１人は欲しい安定感のある存在でしょう。</p>
                <p>固い硬質な体で仲間の盾となる鎧の巨人がぴったり。</p>

                <% elsif @dog.question == "2121" %>
                <h3>車力の巨人</h3><br>
                <%= image_tag 'syariki.jpg', size: "150x150" ,class:"syariki" %>
                <br><br>
                <p>縁の下の力持ちとしてチームを支えるあなたは</p>
                <p>自分よりもチームへの利益を第一に考え、時にはナイスアイデアでチームを救うことも。</p>
                <p>サポート役として右に出る者はいない車力の巨人がぴったり。</p>

                <% elsif @dog.question == "2122" %>
                <h3>鎧の巨人</h3><br>
                <%= image_tag 'yoroi.jpg', size: "150x150" , class:"yoroi" %>
                <br><br>
                <p>忍耐力に優れ、チームへの利益を第一に優先できるあなた。</p>
                <p>チームに１人は欲しい安定感のある存在でしょう。</p>
                <p>固い硬質な体で仲間の盾となる鎧の巨人がぴったり。</p>

                <% elsif @dog.question == "2211" %>
                <h3>戦鎚の巨人</h3><br>
                <%= image_tag 'senntui.jpg', size: "150x150" ,class:"senntui" %>
                <br><br>
                <p>想像力豊かでアイデアマン</p>
                <p>表立つことはなくとも、才能と努力で着実に地位を積み上げていくタイプ。</p>
                <p>自分の考えを自由自在に操り、思いのままに創造する戦鎚の巨人がぴったり。</p>

                <% elsif @dog.question == "2212" %>
                <h3>女型の巨人</h3><br>
                <%= image_tag 'megata.jpg', size: "150x150" ,class:"megata" %>
                <br><br>
                <p>視野が広く、役割を与えられたら器用にこなしてしまうあなた。</p>
                <p>コツを掴むのが速く、常に平均以上の結果を出すこともできます。</p>
                <p>真似が上手で汎用性が高い女型の巨人がぴったり。</p>

                <% elsif @dog.question == "2221" %>
                <h3>顎の巨人</h3><br>
                <%= image_tag 'agito.jpg', size: "150x150" ,class:"agito" %>
                <br><br>
                <p>思い立ったらすぐ行動し、状況を冷静に判断し機転の利いた行動もできるあなた。</p>
                <p>持ち前のセンスと直感を頼りに生きていくことができます。</p>
                <p>機敏性に定評があり、その速さにも負けない頭の回転の速さが強みな顎の巨人がぴったり。</p>

                <% elsif @dog.question == "2222" %>
                <h3>顎の巨人</h3><br>
                <%= image_tag 'agito.jpg', size: "150x150" ,class:"agito" %>
                <br><br>
                <p>思い立ったらすぐ行動し、状況を冷静に判断し機転の利いた行動もできるあなた。</p>
                <p>持ち前のセンスと直感を頼りに生きていくことができます。</p>
                <p>機敏性に定評があり、その速さにも負けない頭の回転の速さが強みな顎の巨人がぴったり。</p>

                <% end %>
            </div>
        </div>
        
</div>