<!DOCTYPE html>
<html>
  <head>
    <title>Titan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="headline">
    
      <%= link_to "進撃の巨人", root_path %>
  
      </div>
    <ul class="nav-list">
      <li class="nav-list-item"><%= link_to "ストーリー説明", nozas_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to "巨人紹介", dogs_lion_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to "巨人診断", dogs_path, class: "link" %></li>
    </ul>
  </header>

<main>
      <%= yield %>
    </main>
    <footer>
    <p>Copyright © GeekSalon All Rights Reserved.</p>
  </footer>

  </body>
</html>
